/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-font-weight);
  background-image: var(--page-bg);
  background-attachment: fixed, fixed, fixed;
  background-size: cover, cover, cover;
  background-position: center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-color: var(--fade-bot);
}

.header {
  margin-block-start: var(--header-py);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  inline-size: var(--header-width);
  block-size: var(--header-height);
  margin-inline: auto;
  background-color: #fff;
  border: 2px solid #000;
}

.header__logo {
  font-family: var(--accent-font), monospace;
  font-weight: 400;
  font-size: var(--logo-size);
  line-height: 100%;
  text-transform: uppercase;
}

.header__subtitle {
  font-family: var(--accent-font), monospace;
  font-weight: 400;
  font-size: var(--subtitle-size);
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
}

.main {
  margin-block-start: var(--header-py);
}

.memories__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  list-style: none;
}

.card {
  min-block-size: clamp(375px, 90%, 700px);
  inline-size: var(--header-width);
  background-color: var(--bg-color);
  margin: 0 auto;
  border: 2px solid #000;
}

.card__title {
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--card-title-weight);
  font-size: 18px;
  line-height: 1.2;
  padding-inline: 10px;
  padding-block: 4px;
  
}

.card__image-container {
  position: relative;
  margin: 0;
  block-size: clamp(375px, calc(375px + 325 * ((100vw - 375px) / 1065)), 700px);
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.card__image {
  max-block-size: 100%;
  inline-size: 100%;
  z-index: 0;
  object-fit: cover;
  display: block;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 3;
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  opacity: 0.6;
  mix-blend-mode: hard-light;
  text-shadow:  -1px 0 white,
    0 1px white,
    1px 0 white,
    0 -1px white;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .card__label {
    -webkit-text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card__text {
  padding-inline: 25px;
  padding-block: 25px;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--card-text-weight);
  font-size: 18px;
  line-height: 21px;
}

.card__text p {
  padding-block-end: 25px;
}

.card__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 7px;
  background-color: #fff;
}

.card__like-button {
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  block-size: 38px;
  inline-size: 130px;
  border: 2px solid #000;
  cursor: pointer;
}

/* стили для  кнопки */

.memories__save {
  box-sizing: border-box;
  block-size: 55px;
  inline-size: 335px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 2px solid #000;
  background-color: #fff;
  cursor: pointer;
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  line-height: 90%;
  font-weight: 400;
  margin-block-start: 50px;
  margin-block-end: 100px;
}

.memories__save.button {
  padding: 0;
}

/* стили для   dialog*/

.save-dialog {
  display: none;
  border: none;
  padding: 0;
}

.save-dialog[open] {
  display: block;
}

.save-dialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

.save-dialog__inner {
  inline-size: 353px;
  block-size: 191px;
  padding: 30px;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.save-dialog__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

.save-dialog__icon-wrap {
  inline-size: 39px;
  block-size: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-dialog__icon {
  inline-size: 39px;
  block-size: 39px;
}

.save-dialog__title {
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  text-transform: uppercase;
}

.save-dialog__controls {
  display: flex;
  justify-content: center;
  margin-block-start: 30px;
}

.save-dialog__ok {
  inline-size: 293px;
  block-size: 38px;
  border: 2px solid #000;
  background-color: #fff;
  cursor: pointer;
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  line-height: 90%;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 375px) {
  .memories__save {
    flex-direction: column;
    inline-size: 306px;
    block-size: 84px;
    margin-inline: auto;
  }

  .save-dialog__inner {
    inline-size: 341px;
    margin-inline: auto;
  }

  .save-dialog__content {
    inline-size: 261px;
    margin-inline: auto;
  }

  .save-dialog__ok {
    inline-size: 261px;
  }
}

/* фильтры для изображений */

.image-filter-gray {
  filter: grayscale(70%);
}

.image-filter-contrast {
  filter: saturate(390%);
}

.image-filter-cont {
  filter: grayscale(60%) saturate(270%);
}

.image-filter-invert {
  filter: invert(100%) brightness(1.15) contrast(0.6) saturate(0.8);
}

.image-filter-soft {
  filter: grayscale(80%) sepia(35%) brightness(1.1) contrast(0.9);
}

.image-filter-blur {
  filter: blur(15px) contrast(1.15) brightness(1.1);
}

.image-green {
  filter: hue-rotate(80deg) saturate(0.6) brightness(0.95) contrast(0.8);
  opacity: 0.9;
}

/* стили для эффекта кнопок шаг 7 */

.button {
  position: relative;
  overflow: hidden;
  isolation: isolate;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
  border: 2px solid var(--accent-color);
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text,
.button__icon {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--text-color);
}

.memories__save .button__icon {
  inline-size: clamp(21px, 28px - 7 * ((100vw - 375px) / 1065), 28px);
  block-size: clamp(21px, 28px - 7 * ((100vw - 375px) / 1065), 28px);
  color: var(--text-color);
}

.card__icon-button {
  inline-size: 39px;
  block-size: 38px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

/* базовое состояние сердца */

.like-icon {
  width: 39px;
  height: 36px;
  transform-origin: center;
  overflow: visible;
  cursor: pointer;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon .core,
.like-icon .main-body {
  fill: transparent;
}

.like-icon .core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  transition: fill 0.3s linear;
}

.like-icon .sparks {
  opacity: 0;
  transition: opacity 0.2s linear;
  transform-box: fill-box;
  transform-origin: center;
}



.card__icon-button:hover .like-icon .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0s;
}

.card__icon-button:hover .like-icon .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}



.card__icon-button:active .like-icon .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear 0s;
}

.card__icon-button:active .like-icon .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon  .heart {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: heart-pump 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .sparks {
  animation: sparks-pop 0.3s ease-in 0.3s 1;
  fill: var(--heart-color);
}


.card__icon-button:hover .like-icon.is-liked .core,
.card__icon-button:active .like-icon.is-liked .core,
.card__icon-button:hover .like-icon.is-liked .main-body,
.card__icon-button:active .like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition-delay: 0s;
}